@media (max-width: 1200px) {
    .title-resp{
        font-size: 1.2rem;
    }

    .text-resp {
      font-size: 1rem; /* Ajusta el tamaño de la letra según sea necesario */
    }
}


@media (max-width: 767.98px) {
    .title-resp{
        font-size: 1rem;
    }

    .text-resp {
      font-size: 0.8rem; /* Ajusta el tamaño de la letra según sea necesario */
    }

    .item-sm{
        transform: translateY(-50%);
    }
}

.img-hash{
    width: 100%;
    height: 40vw !important;
}

/* Para seccion about */
.bg-hash{
    background: linear-gradient(135deg, #C8D7E5, #D8E7F5, #C8D7E5);
}

@media (min-width: 1501px) {
    .img-nosotros {
        margin-left: 10%;
    }
}

@media (max-width:1270px) and (min-width: 811px){
    .img-nosotros{
        max-width: 130%;
        height: auto;
        transform: translateX(-15%);
    }
}

@media (max-width:810px){
    .img-nosotros{
        max-width: 100%;
        height: auto;
    }
}

/* Para seccion productos */
.img-hash-supplier{
    max-height: 303px;
}