:root {
    --mi-azul:  #4C80C5; 
  }

.shadow-custom {
    box-shadow: 5px 5px 0px  var(--mi-azul),
    5px -5px 0px var(--mi-azul),
    -5px 0px 0px var(--mi-azul)D;
    background-color: transparent;
    overflow-y: hidden !important;
}

.box-custom{
    background-color: var(--mi-azul);
    box-shadow: 60px 0px 0px var(--mi-azul);
    padding: 8px;
    border-top-left-radius: 65%;
    border-bottom-left-radius: 65%;
}

.title-line-custom {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -100px 0px 0px 0px  #EA7200;
    border-radius: 0 30px 30px 0;
    padding-left: 50px !important;
    text-align: left;
    white-space: nowrap;
}