@import url(./fonts.css);

/* azul mas claro #4C80C5 
gris: #9DB9DF
naranja: #EA7200*/

/* clases de links */
/* este es el azul que queda para el menu active */
.nav-link.active {
  color: #055C8D !important;
}

.link-custom:hover{
  color: #1966CC !important;
  background-color: transparent !important;
}

.link-custom:active, .link-custom.active{
  color: #1966CC !important;
  background-color: transparent !important;
}

@media (max-width:500px) {
  .link-custom{
    font-size: 0.9rem !important;
  }  
}

/* clases para fondos */
.bg-celeste{
  background-color: #4C80C5;
}

.bg-azul{
  background-color: #055C8D;
}

.bg-gris{
  background-color: #9DB9DF;
}

.bg-naranja{
  background-color: #EA7200;
}

/* clases para botones */

.btn-celeste{
  background-color: #4C80C5;
  color: #000;
}

.btn-celeste:hover{
  background-color: #055C8D;
}

.btn-gris{
  background-color:  #9DB9DF;
  color: #000;
}

.btn-gris:hover{
  background-color: #4C80C5;
}

/* clases para border */
.border-celeste{
  border-color: #4C80C5 !important;
}

.border-gris{
  border-color: #9DB9DF !important;
  /*border-width: 10px !important;*/
}

.border-gris-12{
  border-color: #9DB9DF !important;
  border-width: 12px !important;
}

.border-azul{
  border-color: #055C8D !important;
}