@import url(./fonts.css);



/* este es el azul que queda para el menu active */
.nav-link.active {
    color: #055C8D !important;
}

/* este es el azul mas claro
#4C80C5 
este el gris: #9DB9DF
este el naranja: #EA7200*/


.btn-contact:hover{
  background-color: #4C80C5 !important;
}

.btn-custom{
  background-color: white;
}

.link-custom:hover{
  color: #1966CC !important;
  background-color: transparent !important;
}

.link-custom:active{
  color: #1966CC !important;
  background-color: transparent !important;
}

/* clases para fondos */
.bg-celeste{
  background-color: #4C80C5;
}

.bg-azul{
  background-color: #055C8D;
}

.bg-gris{
  background-color: #9DB9DF;
}