.card-custom{
    cursor: pointer; 
    transition: transform 0.3s ease;
}

.card-custom:hover {
    transform: scale(1.05);
}

.card-img-top {
    max-width: 100%; /* Establece el ancho máximo */
    max-height: 300px; /* Establece el alto máximo */
    object-fit: contain; /* Ajusta la imagen respetando la proporción */
}

.img-detail{
    max-width: 90%;
}