:root {
    --mi-azul:  #4C80C5;
    --mi-sombra: #055C8D; 
}


.box-custom-product{
    background-color: var(--mi-azul);
    box-shadow: -60px 0px 0px var(--mi-azul);
    padding: 10px;
    border-top-right-radius: 65%;
    border-bottom-right-radius: 65%;
} 

.card-product{
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-out;
}


.title-product-custom {
    position: absolute;
    bottom: 15%;
    left: 40%;
    transform: translateX(-50%);
    box-shadow: -110px 0px 0px 0px  #EA7200;
    border-radius: 0 30px 30px 0;
    padding-left: 50px !important;
    text-align: left;
    white-space: nowrap;
}

@media (max-width:400px) {
    .title-product-custom{
        left: 43%;
    }
}

.link-container{
    position: absolute;
    bottom: 0%;
    width: 100%;
    transform: translateY(-20%);
    opacity: 0; /* Inicialmente oculto */
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Transición suave */
}

.card-product:hover .link-container{
    opacity: 1; 
    transform: translateY(-50%);
}

.card-product:hover .picture{
    transform: translateY(-1.5rem);
    transition: all 0.3s ease-out;
}

.card-product:hover{
    transform: scale(1);
    /* box-shadow: 0px 0px 3px 1px; */
}

.img-detail{
    max-width: 90%;
}

/* Para product detail */

.card-detail{
    overflow: hidden;
    max-height: 427px;
}

@media (1200px < width < 1400px) {
    .card-detail{
        max-height: 350px;
    }
}

@media (986px < width < 1200px) {
    .card-detail{
        max-height: 600px;
    }
}